<div class="page-header" style="">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-caption">
          <h1 class="page-title text-start">Achieve Your Goals</h1>
          <p class="   text-start">Get the skills, knowledge, and support you need to achieve your goals. <br> Our LMS empowers you to succeed</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.page-header-->
<!-- news -->
<div class="card-section">
  <div class="container">
    <div class="row justify-content-center  ">
      <div class="col-lg-3 col-md-4">
        <div class="card text-center p-5">
            <svg-icon src="assets/svg/user.svg" class="svg-icon svg-icon-muted text-primary" [svgStyle]="{ 'width.px':50 }"></svg-icon>

          <!-- <i class="fa fa-home card-icon"></i> -->
          <span class="number d-block">500<span>+</span></span>
          <span class="d-block fs-5">Universities</span>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="card text-center p-5">
          <i class="fa fa-graduation-cap card-icon"></i>
          <span class="number d-block">45,000 <span>+</span></span>
          <span class="d-block fs-5">Programs</span>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="card text-center p-5">
          <i class="fa fa-globe card-icon"></i>
          <span class="number d-block">9<span>+</span></span>
          <span class="d-block fs-5">Countries</span>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="card text-center p-5">
          <i class="fa fa-shield card-icon"></i>
          <span class="number d-block">50 <span>+</span></span>
          <span class="d-block fs-5">Scholarships</span>
        </div>
      </div>


    </div>
  </div>
</div>
