$primary2-color: #ff7e05;
$primary1-color: #02315E;

$secondary1-color: #0096C7;
$secondary2-color: #3A45E4FF;
$secondary3-color: #4ebf59;



$neutral1-color: #333;
$neutral2-color: #666;
$neutral3-color: #949494;
$neutral4-color: #ddd;
$neutral5-color: #fff;

$pragraph-font: 'Poppins', sans-serif;
$header-font:'Oswald', sans-serif;

.install span {
  font-size: 12px;
}

.col-md-4 {
  margin-top: 27px;
}
.card{
  min-height: 150px;
}
.title{
  font-family: $pragraph-font;
  font-weight: 500;

}
