
<div class="container py-5">




  <div class="row pb-5 mb-4">
    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
       <div class="card shadow-sm border-0 rounded">
        <div class="card-body p-0"><img src=" " alt="" class="w-100 card-img-top">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">Awesome product</a></h5>
          <p class="small text-muted font-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <ul class="list-inline small">
            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
            <li class="list-inline-item m-0"><i class="fa fa-star-o text-success"></i></li>
          </ul>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
